<header class="main-header">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="logo">
            <a href="#">
                <img src="/content/images/logo.jpg" />
            </a>
        </div>
        <!-- Static Header -->
        <div class="header-text">
            <div class="header-text-inner">
                <div [innerHTML]="getText1()"></div>
                <div [innerHTML]="getText2()"></div>
            </div>
            <a href="#" class="btn btn-header">Get Started</a>
        </div><!-- /header-text -->
    </div>
</header>
