<div>
    <h2>
        <span jhiTranslate="ausTravelApp.cube.home.title">Cubes</span>
        <button class="btn btn-primary float-right jh-create-entity create-cube" [routerLink]="['/', { outlets: { popup: ['cube-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ausTravelApp.cube.home.createLabel">
            Create new Cube
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cubes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="imgUrl"><span jhiTranslate="ausTravelApp.cube.imgUrl">Img Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="colWidth"><span jhiTranslate="ausTravelApp.cube.colWidth">Col Width</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subTitle"><span jhiTranslate="ausTravelApp.cube.subTitle">Sub Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="heading"><span jhiTranslate="ausTravelApp.cube.heading">Heading</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="content"><span jhiTranslate="ausTravelApp.cube.content">Content</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="style"><span jhiTranslate="ausTravelApp.cube.style">Style</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cube of cubes ;trackBy: trackId">
                <td><a [routerLink]="['../cube', cube.id ]">{{cube.id}}</a></td>
                <td>{{cube.imgUrl}}</td>
                <td>{{cube.colWidth}}</td>
                <td>{{cube.subTitle}}</td>
                <td>{{cube.heading}}</td>
                <td>{{cube.content}}</td>
                <td>{{cube.style}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cube', cube.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cube/'+ cube.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cube/'+ cube.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="cubes && cubes.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
