<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCNPageTourEntryLabel" jhiTranslate="ausTravelApp.cNPageTourEntry.home.createOrEditLabel">Create or edit a CN Page Tour Entry</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cNPageTourEntry.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cNPageTourEntry.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.name" for="field_name">名称</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cNPageTourEntry.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.heading" for="field_heading">标题</label>
            <input type="text" class="form-control" name="heading" id="field_heading"
                [(ngModel)]="cNPageTourEntry.heading"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.subTitle" for="field_subTitle">小标题</label>
            <input type="text" class="form-control" name="subTitle" id="field_subTitle"
                [(ngModel)]="cNPageTourEntry.subTitle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.content" for="field_content">内容</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="cNPageTourEntry.content"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.pageTourEntry.imgUrl1" for="field_image_url1">图片1</label>
            <div id="field_image_url1" class="row">
                <div class="col-md-9" >
                    <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" />
                    <div style="margin-top: 20px">
                        Progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" *ngIf="uploader.queue[0]">
                    <button type="button" class="btn btn-success btn-xs" (click)="uploadFile()" [disabled]="uploader.queue[0].isReady ||
                    uploader.queue[0].isUploading || uploader.queue[0].isSuccess">Upload</button>
                </div>
            </div>
            <div class="row">
                <div id="pg_entry_image" style="margin-top: 20px" class="col-md-4"></div>
                <div class="col-md-8">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.imgUrl2" for="field_imgUrl2">图片2</label>
            <input type="text" class="form-control" name="imgUrl2" id="field_imgUrl2"
                [(ngModel)]="cNPageTourEntry.imgUrl2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.cssStyle" for="field_cssStyle">颜色</label>
            <input type="text" class="form-control" name="cssStyle" id="field_cssStyle"
                [(ngModel)]="cNPageTourEntry.cssStyle" required />
            <div [hidden]="!(editForm.controls.cssStyle?.dirty && editForm.controls.cssStyle?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cssStyle?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.createBy" for="field_createBy">创建人</label>
            <input type="text" class="form-control" name="createBy" id="field_createBy"
                [(ngModel)]="cNPageTourEntry.createBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.createTime" for="field_createTime">创建时间</label>
            <div class="input-group">
                <input id="field_createTime" type="text" class="form-control" name="createTime" ngbDatepicker  #createTimeDp="ngbDatepicker" [(ngModel)]="cNPageTourEntry.createTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="createTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.updateBy" for="field_updateBy">更新人</label>
            <input type="text" class="form-control" name="updateBy" id="field_updateBy"
                [(ngModel)]="cNPageTourEntry.updateBy"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.updateTime" for="field_updateTime">更新时间</label>
            <div class="input-group">
                <input id="field_updateTime" type="text" class="form-control" name="updateTime" ngbDatepicker  #updateTimeDp="ngbDatepicker" [(ngModel)]="cNPageTourEntry.updateTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="updateTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.colWidth" for="field_colWidth">宽度</label>
            <input type="text" class="form-control" name="colWidth" id="field_colWidth"
                [(ngModel)]="cNPageTourEntry.colWidth" required />
            <div [hidden]="!(editForm.controls.colWidth?.dirty && editForm.controls.colWidth?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.colWidth?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ausTravelApp.cNPageTourEntry.cNTour" for="field_cNTour">C N Tour</label>
            <select class="form-control" id="field_cNTour" name="cNTour" [(ngModel)]="cNPageTourEntry.cntour">
                <option [ngValue]="null"></option>
                <option [ngValue]="cNTourOption.id === cNPageTourEntry.cntour?.id ? cNPageTourEntry.cntour : cNTourOption" *ngFor="let cNTourOption of cntours; trackBy: trackCNTourById">{{cNTourOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
