<!-- /////////////////////////////////////////Footer -->
<footer>
    <div class="wrap-footer">
        <div class="flex-box no-gutter">
            <!-- Map and address -->
            <div class="col-lg-6">
                <div class="contact-info">
                    <!-- Show Info Button -->
                    <a href="#" class="show-info-link"><i class="fa fa-info"></i> Show info</a>
                    <div id="map" style="height: 650px;"></div>
                    <address class="contact-info-wrapper">
                        <ul class="list-unstyled">
                            <!-- Address -->
                            <li class="contact-group">
                                <span class="adr-heading">Address</span>
                                <span class="adr-info">100 Street, Il, US</span>
                            </li>
                            <!-- Email -->
                            <li class="contact-group">
                                <span class="adr-heading">Email</span>
                                <span class="adr-info">sayhello@email.com</span>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <!-- Phone -->
                            <li class="contact-group">
                                <span class="adr-heading">Phone</span>
                                <span class="adr-info">+ 123 4567 890</span>
                            </li>
                            <!-- Mobile -->
                            <li class="contact-group">
                                <span class="adr-heading">Mobile</span>
                                <span class="adr-info">+ 123 4567 890</span>
                            </li>
                        </ul>
                        <a href="#" class="show-map"><i class="fa fa-map-o"></i> Show on map</a>
                    </address>
                </div>
            </div>
            <!-- Contact Form -->
            <div class="col-lg-6 ">
                <div class="box-text">
                    <div class="box-text-inner pd-large-lg pd-small-xs">
                        <div class="heading">
                            <h2>Contact Us</h2>
                        </div>
                        <form role="form" id="contactForm" data-toggle="validator" >
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            <!-- Message -->
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Your Message" required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" id="form-submit" class="btn btn-skin pull-right">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="bottom-footer">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-md-3">-->
    <!--<p>Copyright 20xx - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
    <!--<ul class="list-inline social-link">-->
    <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li>-->
    <!--<li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
    <!--<ul class="list-inline quicklinks">-->
    <!--<li><a href="#">Privacy Policy</a></li>-->
    <!--<li><a href="#">Terms of Use</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</footer>
<!-- Footer -->
