<!-- /////////////////////////////////////////Footer -->
<footer>
    <div class="wrap-footer">
        <div class="flex-box no-gutter">
            <!-- Map and address -->
            <div class="col-lg-6">
                <div class="contact-info">
                    <!-- Show Info Button -->
                    <!--<a href="#" class="show-info-link"><i class="fa fa-info"></i> Show info</a>-->
                    <div id="map" style="height: 650px;"></div>
                    <address class="contact-info-wrapper">
                        <ul class="list-unstyled">
                            <!-- Address -->
                            <li class="contact-group">
                                <span class="adr-heading" jhiTranslate="ausTravelApp.contact.address">Address</span>
                                <span class="adr-info">100 Street, Il, US</span>
                            </li>
                            <!-- Email -->
                            <li class="contact-group">
                                <span class="adr-heading" jhiTranslate="ausTravelApp.contact.email">Email</span>
                                <span class="adr-info">sayhello@email.com</span>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <!-- Phone -->
                            <li class="contact-group">
                                <span class="adr-heading" jhiTranslate="ausTravelApp.contact.phone">Phone</span>
                                <span class="adr-info">+ 123 4567 890</span>
                            </li>
                            <!-- Mobile -->
                            <li class="contact-group">
                                <span class="adr-heading" jhiTranslate="ausTravelApp.contact.mobile">Mobile</span>
                                <span class="adr-info">+ 123 4567 890</span>
                            </li>
                        </ul>
                        <!--<a href="#" class="show-map"><i class="fa fa-map-o"></i> Show on map</a>-->
                    </address>
                </div>
            </div>
            <!-- Contact Form -->
            <div class="col-lg-6 ">
                <div class="box-text">
                    <div class="box-text-inner pd-large-lg pd-small-xs">
                        <div class="heading">
                            <h2 jhiTranslate="ausTravelApp.contact.title">
                                Contact Us
                            </h2>
                        </div>
                        <form role="form" id="contactForm" #contactForm="ngForm" (ngSubmit)="sendEnquiryEmail()" data-toggle="validator" >
                            <!-- Name -->
                            <div class="form-group">
                                <label for="name" jhiTranslate="ausTravelApp.contact.name">
                                    Name
                                </label>
                                <input id="name" name="name" class="form-control"
                                       required minlength="4"
                                       [(ngModel)]="contact.name" #name="ngModel">
                                <div *ngIf="name.invalid && name.dirty">
                                    <small class="form-text text-danger" *ngIf="name.errors.required">
                                        Name is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="name.errors.minlength">
                                        Name must be at least 4 characters long.
                                    </small>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                                <label class="form-control-label" for="email">
                                    <span jhiTranslate="ausTravelApp.contact.email">Email</span>
                                </label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel"
                                       [(ngModel)]="contact.email" minlength=5 maxlength=100 email required>
                                <div *ngIf="email.dirty && email.invalid">
                                    <small class="form-text text-danger" *ngIf="email.errors.required"
                                           jhiTranslate="global.messages.validate.email.required">
                                        Your email is required.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                           jhiTranslate="global.messages.validate.email.invalid">
                                        Your email is invalid.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                           jhiTranslate="global.messages.validate.email.minlength">
                                        Your email is required to be at least 5 characters.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                           jhiTranslate="global.messages.validate.email.maxlength">
                                        Your email cannot be longer than 100 characters.
                                    </small>
                                </div>
                            </div>
                            <!-- Message -->
                            <div class="form-group">
                                <label for="message" jhiTranslate="ausTravelApp.contact.message">
                                    Message
                                </label>
                                <textarea class="form-control" [(ngModel)]="contact.content" name="message" id="message" rows="5"  required></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <button type="submit" [disabled]="contactForm.form.invalid" id="form-submit" jhiTranslate="ausTravelApp.contact.submit" class="btn btn-skin pull-right">Submit</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
