<div class="wrap-body">
    <jhi-page-banner></jhi-page-banner>
    <!-- /Section: intro -->

    <!-- /////////////////////////////////////////Content -->
    <div id="page-content" class="container-fluid">
        <div class="row">
            <!-----------------Content-------------------->
            <article class="single-post">
                <div class="wrap-post pd-exlarge-sm pd-small-xs"><!--Start Box-->
                    <div class="entry-header text-center">
                        <h1 class="entry-title">{{tourDetail.name}}</h1>
                        <span class="entry-meta">
								<ul class="list-inline link">
									<li>By <a href="#">{{tourDetail.createBy}}</a></li>
									<li><a href="#">August, 22 2016</a></li>
									<!--<li><a href="#">0 comments</a></li>-->
								</ul>
							</span>
                    </div>
                    <div class="post-thumbnail-wrap">
                        <img src={{tourDetail.imgUrl1}} class="img-responsive" alt="">
                    </div>
                    <div class="entry-content">
                        <div  class="excerpt" [innerHTML]="getTourDetailContent()">
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <jhi-page-contact></jhi-page-contact>

</div><!-- .wrap-body -->

